# Виртуальное окружение
.venv/
venv/
env/
ENV/
pyvenv.cfg

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Логи
Logs/
*.log

# PyCharm / IDE
.idea/
.vscode/
*.iml

# ОС
.DS_Store
Thumbs.db
desktop.ini

# Прочее
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/